* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(19, 96, 96);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.container {
  background-color: #fff;
  width: 450px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
}
.container h1 {
  font-size: 2em;
  padding: 20px;
}
.calculadora {
  width: 100%;
  padding: 10px;
}
.display {
  width: 100%;
  font-size: 2em;
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
}
.tecla {
  background-color: #ccc;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}
.tecla:hover {
  background-color: rgb(153, 151, 151);
}
.btn-eq {
  background-color: rgb(19, 96, 96);
}
.btn-eq:hover {
  background-color: rgb(46, 181, 181);
}
